In [1]:
import pandas as pd

data=pd.read_csv('games.data.csv')
data.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
#找出哪個遊戲發行商出現次數最多
most_common_P = data['Publisher'].value_counts().idxmax()
value_counts_P = data['Publisher'].value_counts()
print("遊戲發行商出現次數：")
print(value_counts_P)
print("Publisher列中出現最多的遊戲發行商是：", most_common_P)

遊戲發行商出現次數：
Electronic Arts                 1356
Activision                       985
Namco Bandai Games               939
Ubisoft                          933
Konami Digital Entertainment     834
                                ...
Valve                              1
ITT Family Games                   1
Elite                              1
Evolution Games                    1
Red Flagship                       1
Name: Publisher, Length: 581, dtype: int64
Publisher列中出現最多的遊戲發行商是： Electronic Arts

In [3]:
#找出哪個種類的遊戲出現最多次數
most_common_G = data['Genre'].value_counts().idxmax()
value_counts_G= data['Genre'].value_counts()
print("遊戲分類記數：")
print(value_counts_G)
print("Genre列中出現最多次數的值是：", most_common_G)

遊戲分類記數：
Action          3370
Sports          2348
Misc            1750
Role-Playing    1500
Shooter         1323
Adventure       1303
Racing          1249
Platform         888
Simulation       874
Fighting         849
Strategy         683
Puzzle           580
Name: Genre, dtype: int64
Genre列中出現最多次數的值是： Action

In [28]:
#找出北美地區銷售排行榜
nasales=data.sort_values(by='NA_Sales', ascending=False)
nasales.to_csv('games.data.csv', index=False)
nasales=pd.read_csv('games.data.csv')
print(nasales.loc[[0,1,2,3,4,5],['Name','NA_Sales']])

                Name  NA_Sales
0         Wii Sports     41.36
1  Super Mario Bros.     29.08
2          Duck Hunt     26.93
3             Tetris     23.20
4     Mario Kart Wii     15.68
5  Wii Sports Resort     15.61

In [23]:
#找出釋出年分最老的遊戲
oldest = data.sort_values('Year_of_Release')
oldest.to_csv('games.data.csv', index=False)
oldest =pd.read_csv('games.data.csv')
print("釋出年份最老的遊戲:")
print(oldest.loc[0, 'Name'])
print("釋出年分:")
print(oldest.loc[0,'Year_of_Release'])

釋出年份最老的遊戲:
Asteroids
釋出年分:
1980.0

In [7]:
#找出歐洲地區銷售排行榜
eusales=data.sort_values(by='EU_Sales', ascending=False)
eusales.to_csv('games.data.csv', index=False)
eusales=pd.read_csv('games.data.csv')
print(eusales.loc[[0,1,2,3,4,5],['Name','EU_Sales']])

                                           Name  EU_Sales
0                                    Wii Sports     28.96
1                                Mario Kart Wii     12.76
2                                    Nintendogs     10.95
3                             Wii Sports Resort     10.93
4  Brain Age: Train Your Brain in Minutes a Day      9.20
5                                      Wii Play      9.18

In [8]:
#找出日本地區銷售排行榜
jpsales=data.sort_values(by='JP_Sales', ascending=False)
jpsales.to_csv('games.data.csv', index=False)
jpsales=pd.read_csv('games.data.csv')
print(jpsales.loc[[0,1,2,3,4,5],['Name','JP_Sales']])

                            Name  JP_Sales
0       Pokemon Red/Pokemon Blue     10.22
1    Pokemon Gold/Pokemon Silver      7.20
2              Super Mario Bros.      6.81
3          New Super Mario Bros.      6.50
4  Pokemon Diamond/Pokemon Pearl      6.04
5    Pokemon Black/Pokemon White      5.65

In [9]:
#找出哪個年代的遊戲出現最多次數
most_common_P = data['Year_of_Release'].value_counts().idxmax()
value_counts_P= data['Year_of_Release'].value_counts()
print("遊戲年代記數：")
print(value_counts_P)
print("Year_of_Release列中出現最多次數的值是：", most_common_P)

遊戲年代記數：
2008.0    1427
2009.0    1426
2010.0    1255
2007.0    1197
2011.0    1136
2006.0    1006
2005.0     939
2002.0     829
2003.0     775
2004.0     762
2012.0     653
2015.0     606
2014.0     581
2013.0     544
2016.0     502
2001.0     482
1998.0     379
2000.0     350
1999.0     338
1997.0     289
1996.0     263
1995.0     219
1994.0     121
1993.0      62
1981.0      46
1992.0      43
1991.0      41
1982.0      36
1986.0      21
1989.0      17
1983.0      17
1990.0      16
1987.0      16
1988.0      15
1985.0      14
1984.0      14
1980.0       9
2017.0       3
2020.0       1
Name: Year_of_Release, dtype: int64
Year_of_Release列中出現最多次數的值是： 2008.0

In [10]:
#找出哪個遊戲平台出現最多次數
most_common_PL = data['Platform'].value_counts().idxmax()
value_counts_PL= data['Platform'].value_counts()
print("遊戲平台出現次數：")
print(value_counts_PL)
print("Platform列中出現最多次數的值是：", most_common_PL)

遊戲平台出現次數：
PS2     2161
DS      2152
PS3     1331
Wii     1320
X360    1262
PSP     1209
PS      1197
PC       974
XB       824
GBA      822
GC       556
3DS      520
PSV      432
PS4      393
N64      319
XOne     247
SNES     239
SAT      173
WiiU     147
2600     133
NES       98
GB        98
DC        52
GEN       29
NG        12
SCD        6
WS         6
3DO        3
TG16       2
PCFX       1
GG         1
Name: Platform, dtype: int64
Platform列中出現最多次數的值是： PS2

In [27]:
#找出全球銷售排行榜
glsales=data.sort_values(by='Global_Sales', ascending=False)
glsales.to_csv('games.data.csv', index=False)
glsales=pd.read_csv('games.data.csv')
print(glsales.loc[[0,1,2,3,4,5],['Name','Global_Sales']])

                       Name  Global_Sales
0                Wii Sports         82.53
1         Super Mario Bros.         40.24
2            Mario Kart Wii         35.52
3         Wii Sports Resort         32.77
4  Pokemon Red/Pokemon Blue         31.37
5                    Tetris         30.26

In [44]:
#找出其他地區銷售排行榜
otsales=data.sort_values(by='Other_Sales', ascending=False)
otsales.to_csv('games.data.csv', index=False)
otsales=pd.read_csv('games.data.csv')
print(otsales.loc[[0,1,2,3,4,5],['Name','Other_Sales']])

                            Name  Other_Sales
0  Grand Theft Auto: San Andreas        10.57
1                     Wii Sports         8.45
2                 Gran Turismo 4         7.53
3             Grand Theft Auto V         3.96
4                 Mario Kart Wii         3.29
5              Wii Sports Resort         2.95